<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
      <h2 class="active">Crear cuenta</h2>
  
      <!-- Icon -->
      <div class="fadeIn first">
        <img src="https://zercaylejos.org/images/iconos-pago-formulario.png" id="icon" alt="User Icon" />
      </div>
  
      <!-- Login Form -->
      <form >
        <input type="text"  class="fadeIn second"  placeholder="Nombre">
        <input type="text"  class="fadeIn third"  placeholder="Apellidos">
        <input type="text"  class="fadeIn second"  placeholder="gmail">
        <a class="underlineHover">Servira en caso de olvidar su contraseña</a>
        <input type="text"  class="fadeIn second"  placeholder="color favorito">
          
      </form>
      
      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a class="underlineHover" >"Equipo 5"</a>
      </div>
  
    </div>
  </div>
